*,h1,h2,h3,h4,h5,h6{
    margin:0;padding:0;
}
body {
    font-family:calibri;
}
.topbar{
    height:30px;
    border-bottom:1px solid silver;
    background-color:#3f743b;
    color:white;
    padding:15px 5px;
}
.topbar .brand{
   font-size:16pt;
}
.sidebar{
    width:250px;
    padding:10px;
    float:left;
    height:1000px;
    background-color:#c6e4c3;
}
    .sidebar a {
        text-decoration: none;
        color: #3f743b;
        display: block;
        padding: 7px 3px;
        border-bottom: 1px solid #3f743b;
    }
        .sidebar a:hover {
            background-color: #9bba98;
            color:white;
        }
        .container {
            width: 1450px;
            padding: 10px;
            float: left;
        }
.CounterSide{

}
.CounterSide .box {
    float:left;
    margin:10px;
    border-radius:10px;
    padding:15px;
    width:190px;
    background-color:#ffdf87;
    font-size:15pt;
}
    .CounterSide .box h3
    {
        padding:5px;
        border-bottom:2px solid #f6c43a;
    }
    .form {
    }
.form-header {
    padding: 5px;
    border-bottom: 2px solid #3f743b;
    color: #3f743b
}
.form-content{
    padding:10px;
}
.row
{
    padding:10px 0;
}
.form-label{
    display:block;
    padding:5px 0;
}
.form-input {
    width: 100%;
    padding: 7px;
}
.form-validateMesage{
    color:darkred;
}
.form-button{
    border:none;
    border-radius:3px;
    color:white;
    background-color:#3f743b;
    padding:7px 20px;
}
.form-button:hover {
    background-color: #305c2d;
}
.form-cancelLink
{
    color:dimgray;
    text-decoration:none;
}
.form-cancelLink:hover{
    color:#333333;
}
.listtable {
    width: 100%;
    border: 1px solid silver;
}
.listtable tr th{
    border-bottom:2px solid silver;
    background-color:#c6e4c3;
    padding:7px 3px;
    text-align:left;
}
    .listtable tr td {
        border-bottom: 1px solid silver;
        padding: 7px 3px;
    }
.listbtn{
    padding:5px;
    border-radius:3px;
    color:white;
    text-decoration:none;
}
.btnduzenle{
    background-color:#3f743b;
}
.btnsil {
    background-color: darkred;
}
.silinmis td{
    background-color:#ffb7b7;
}
.linkbutton
{
    padding:5px 10px;
    border-radius:3px;
    text-decoration:none;
}
    .main{
        background-color:#3f743b;
        color:white;
    }
    .second {
        background-color: #ededed;
        color:dimgray;
    }
