<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="topbar">
                <div class="brand">
                    <img src="~/Assets/SiteImages/SiteLogo.png" />
                </div>
                <div class="userPanel">
                    @{
                        Html.RenderAction("_CartpartialMenuView", "PartialViews");
                    }
                </div>
            </div>
            <div class="navbar">
                @{ 
                    Html.RenderAction("_CategoryMenu", "PartialViews");
                }
                <div class="floatfix"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container" style="min-height: 900px;">
            @RenderBody()
        </div>
    </main>
    <footer>
      
    </footer>
</body>
</html>
